@font-face {
    font-family: "Fraunces";
    src: url(../assets/fonts/Fraunces-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}
:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --paragraph: 0.875rem;
}
