@font-face {
    font-family: "Fraunces";
    src: url(../assets/fonts/Fraunces-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}
:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --paragraph: 0.875rem;
    --card-and-img-radius: 8px;
}
body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
}
.card {
    background-color: white;
    width: 350px;
    margin: 80px 0;
    border-radius: var(--card-and-img-radius);
}
img.mobile {
    border-radius: var(--card-and-img-radius) var(--card-and-img-radius) 0 0;
}
div.content {
    padding: 31px 32px;
}
p.product-type {
    font-family: "Montserrat", sans-serif;
    color: var(--grey);
    font-size: 0.725rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 23px;
}
h1.product-name {
    font-family: "Fraunces", serif;
    line-height: 0.9;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 23px;

}
p.product-desc {
    font-family: "Montserrat", sans-serif;
    font-size: var(--paragraph);
    font-weight: 500;
    color: var(--grey);
    line-height: 1.6;

}